.movie-poster{
  width: 340px;
  height: 500px;
  object-fit: cover;
  padding: 10px;
}

.movie-container{
  width: 340px;
  height: min-content;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name{
  color: red;
}

.movie-summary{
  font-size: 18px;
}

.movie-rating{
  font-size: 20px;
  font-weight: bold;
}

.movie-List{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.counter-container{
  display: flex;
  gap: 5px;
}

.like-dislike{
  font-size: 20px;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;
  align-items: center;
}

.inputfield{
  width: 25%;
}

.game-box{
  height: 160px;
  width: 160px;
  background-color: white;
  border: 1px solid black;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  cursor: pointer;
}

body{
  background-color: whitesmoke;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.full-game{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.not-found{
  text-align: center;
  font-size: 54px;
  margin: 0;
}

.movie-detail-container{
  max-width: 90%;
  padding: 15px;
}

.route-container{
  margin: 20px;
}