.App {
  font-family: sans-serif;
  text-align: center;
}

.Welcome {
  font-family: "Tangerine", serif;
  font-size: 30px;
}

img {
  height: 300px;
  width: 23%;
  object-fit: cover;
  border-radius: 50%;
}
